body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  position: relative;
  z-index: 1;
}

.container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("polines.mp4") no-repeat center center fixed;
  background-size: cover;
  filter: blur(5px); /* Optional: Tambahkan efek blur pada video */
  z-index: -1;
}

.container {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 320px;
}

select,
input {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}

form h2,
label {
  color: white;
}

form {
  display: flex;
  flex-direction: column;
}

input,
select {
  margin-bottom: 10px;
}

button {
  margin-top: 8px;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
